<ul class="sidebar-menu" data-widget="tree">
<li class="header">HEADER</li>
<!-- Optionally, you can add icons to the links -->
<li class="active"><a href="#"><i class="fa fa-link"></i> <span>Dashboard</span></a></li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Manage Admins</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">View All Admins</a></li>
    <li><a href="#">Add Admin</a></li>
    <li><a href="#">Update Admin</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Manage Customers</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">Add Customer</a></li>
    <li><a href="#">View All Customers</a></li>
    <li><a href="#">Update Customer</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Manage Orders</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">Add Order</a></li>
    <li><a href="#">View All Orders</a></li>
    <li><a href="#">Update Order</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Manage Order Items</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">Add Order Item</a></li>
    <li><a href="#">View All Order Items</a></li>
    <li><a href="#">Update Order Item</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Manage Order Status</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">Add Order Status</a></li>
    <li><a href="#">View All Order Statuses</a></li>
    <li><a href="#">Update Order Status</a></li>
    </ul>
</li>
<li class="treeview">
    <a href="#"><i class="fa fa-link"></i> <span>Manage Locations</span>
    <span class="pull-right-container">
        <i class="fa fa-angle-left pull-right"></i>
        </span>
    </a>
    <ul class="treeview-menu">
    <li><a href="#">Add Location</a></li>
    <li><a href="#">View All Locations</a></li>
    <li><a href="#">Update Location</a></li>
    </ul>
</li>
</ul>